* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica;
}

header {
	background-color: #FEF3F3;
	color: #fff;
	height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header img {
	padding: 0 20px;
}

/* ++++++++++++++++++++++++++   main-manu     ++++++++++++++++++++ */
.main-manu {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	background-color: #8D1516;
	font-size: 20px;
	height: 35px;
}

.main-manu li {
	padding-left: 20px;
}

nav {
/* 	margin-bottom: 0; */
}

a {
	color: #fff;
	text-decoration: none;
}

nav a {

}

nav a:hover {
	border-bottom: 1px solid #fff;
}

/* +++++++++++++++++++++++++++++ main part +++++++++++++++++++++++++ */

.traffic-img {
	background-image: url("img/traffic-332857_1920.jpg");
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-position: center; /* Center the image */
	background-size: cover;
}

h1 {
	color:  white;
	padding-top: 30px;
	padding-left: 20px;
}

.customer-data-container {
   position: absolute;
   width: 70%;
   height: 550px;
   left: 15%;
   
	
   background-color: lightgrey;
   opacity: 0.8;
   margin-top: 80px;
   border: 2px solid #555557;
   box-shadow: 5px;
   

}

.banner-grey {
	background-color: lightgray;
	width: 100%;
	height: 150px;
	color: #363645;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 10px;

}

.banner-grey h3 {
	font-size: 30px;
	
}

.banner-grey p {
	line-height: 25px;
	font-size: 20px;

}

.heading {

}


/* +++++++++++++++++++++++++++++ footer +++++++++++++++++++++++++ */
footer {
	background:  #171717;
	color: #fff;
	margin-top: 30px;
} 

#footer-manu {
	font-size: 15px;
	padding-top: 20px;
	background-color: #171717; 
}

.footer-logo {
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	padding-bottom: 20px;
}

footer p {
	font-size: 12px;
	padding-bottom: 20px;
	text-align: center;
	
}
